body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.hide{
  display:none !important;
}
footer{
  text-align: center;
  margin: 4rem auto;
}
.navbar-brand>img{
  virtical-align:middle;display:inline-block;
}
